<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer app>
        <!-- -->
      </v-navigation-drawer>

      <v-app-bar app>
        <!-- -->
      </v-app-bar>
      <v-main>
        <v-container fluid>
            <v-slider v-model="slider" class="align-center" :max="max" :min="min" hide-details v-on:end="dragEnd">
              <template v-slot:append>
                <v-text-field v-model="slider" class="mt-0 pt-0" hide-details single-line type="number"
                  style="width: 60px"></v-text-field>
              </template>
            </v-slider>
            <v-date-picker v-model="picker" :open-date="openDate" ref="pick"></v-date-picker>
        </v-container>
      </v-main>
    </v-app>

  </div>
  <!-- partial -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="./script.js"></script>

</body>

</html>